.sideNavBar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--nav-bg);
  min-height: 100%;
  display: none;

  div {
    display: flex;
    flex-direction: column;
  }

  > div:first-of-type {
    flex-direction: row;

    &:hover {
      background-color: var(--user);
    }

    a {
      display: flex;
      padding: 17.5px 4px;
      text-decoration: none;
    }

    p {
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 1.5rem;
      padding: 0 0.75rem;
      color: var(--text);
      cursor: pointer;
    }
  }

  @media (min-width: 320px) {
    display: block;
  }
}
