@mixin divider {
  display: block;
  margin: 0.75rem auto 0;
  border-radius: 0.25rem;
  width: 50%;
  height: 1px;
  background-color: var(--sc-percentage);
}

@mixin noScrollBar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    background: var(--dashboard-bg);
  }
}

.dashboardMain {
  > h1 {
    font-weight: 600;
    font-size: 1.75rem;
  }

  .totalDataContainer {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 1rem;

    @media (min-width: 560px) {
      grid-template-columns: repeat(2, minmax(14rem, 1fr));
    }

    @media (min-width: 1040px) {
      grid-template-columns: repeat(4, minmax(14rem, 1fr));
    }

    > div {
      padding: 1rem;
      background-color: var(--dashboard-bg);
      box-shadow: 0 0 1px var(--notification-timestamp);
      border-radius: 0.25rem;

      h2 {
        font-size: 1rem;
        font-weight: 400;
      }

      > div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        > p {
          font-size: 1.625rem;
          font-weight: 500;
          margin-top: 0.5rem;
        }

        .arrowUp {
          svg {
            color: #00c200;
          }

          p {
            background: linear-gradient(#00c200, #00c200);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .arrowDown {
          svg {
            color: #ff4b4b;
          }

          p {
            background: linear-gradient(#ff4b4b, #ff4b4b);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        > div {
          display: flex;
          flex-direction: column;

          div {
            display: flex;
            align-items: center;

            p {
              margin-left: 0.375rem;
            }
          }

          small {
            font-size: 0.875rem;
            color: var(--sc-text);
          }
        }
      }
    }
  }

  .revenueCharts {
    margin: 1.5rem 0 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media (min-width: 780px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .revenueGrowthChart {
      background-color: var(--dashboard-bg);
      box-shadow: 0 0 1px var(--notification-timestamp);
      border-radius: 0.25rem;
      position: relative;
      z-index: 1;
      padding-bottom: 15px;
      grid-column: span 1 / span 1;

      @media (min-width: 780px) {
        grid-column: span 2 / span 2;
      }

      > h2 {
        font-size: 1.125rem;
        font-weight: 400;
        padding: 1rem;
        line-height: 1.5;
      }

      > div:last-of-type {
        width: 100%;
        height: 400px !important;
      }

      .customLegend {
        margin: 0 1rem 1rem;
        padding: 1rem;
        background-color: var(--nav-bg);
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 1rem;

        @media (min-width: 490px) {
          justify-content: space-evenly;
          flex-direction: row;
        }

        > div {
          padding: 0 0.5rem;

          h2 {
            font-size: 1rem;
            font-weight: 400;
          }

          div {
            display: flex;
            align-items: center;

            span {
              width: 0.75rem;
              height: 0.75rem;
              border-radius: 50%;
            }

            p {
              font-size: 1.625rem;
              font-weight: 500;
              margin-left: 0.75rem;
            }
          }
        }
      }

      .customTooltip {
        display: flex;
        flex-direction: column;
        background-color: var(--dashboard-bg);
        box-shadow: 0 0 1px var(--notification-timestamp);
        border-radius: 0.25rem;

        > p,
        > div {
          font-size: 0.875rem;
        }

        > p {
          padding: 0.5rem;
          font-weight: 500;
          box-shadow: 0 0 1px var(--notification-timestamp);
          border-radius: 0.25rem 0.25rem 0 0;
          background-color: var(--nav-bg);
        }

        > div {
          padding: 0.75rem 0.5rem;
          box-shadow: 0 0 1px var(--notification-timestamp);
          border-radius: 0 0 0.25rem 0.25rem;

          div {
            display: flex;
            margin-bottom: 0.75rem;
            align-items: center;

            span {
              width: 0.625rem;
              height: 0.625rem;
              border-radius: 50%;
            }

            p {
              margin-left: 0.375rem;
            }
          }

          div:last-of-type {
            margin: 0;
          }
        }
      }
    }

    .revenueByLocChartContainer {
      display: flex;
      flex-direction: column;
      background-color: var(--dashboard-bg);
      box-shadow: 0 0 1px var(--notification-timestamp);
      border-radius: 0.25rem;
      grid-column: span 1 / span 1;

      @media (min-width: 780px) {
        grid-column: span 2 / span 2;
      }

      > h2 {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5;
        padding: 1rem;
      }

      .revenueByLocChart {
        height: 220px;
        width: calc(100% - 2rem);
        margin: 0 1rem;
        cursor: pointer;
      }

      .revenueByLocPercentages {
        margin: 0.5rem 1rem;
        padding: 0.5rem 0;
        max-height: 18.125rem;
        overflow-y: scroll;
        @include noScrollBar();

        .activeCountryPercentage {
          background-color: var(--percentages-hover);
        }

        > div {
          display: flex;
          column-gap: 0.5rem;
          padding: 0.5rem;
          border-radius: 0.25rem;
          margin-bottom: 1rem;

          @media (min-width: 386px) {
            padding: 0.625rem 0.5rem;
          }

          &:last-of-type {
            margin-bottom: 0;
          }

          > div:nth-of-type(1) {
            display: inline-flex;
            height: fit-content;

            svg {
              height: 2.25rem;
              width: 2.25rem;
              border-radius: 50%;
              filter: drop-shadow(0 0 1px var(--notification-timestamp));
            }
          }

          > div:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            width: 100%;

            > p {
              line-height: 1.25;
            }

            > div {
              display: flex;
              column-gap: 0.5rem;
              align-items: flex-end;
              height: 1rem;

              > div {
                width: 100%;
                position: relative;

                span {
                  display: block;
                  position: absolute;
                  bottom: 0;
                  height: 0.375rem;
                }

                span:nth-of-type(1) {
                  left: 0;
                  background-color: var(--revenueGrowthLine1);
                }

                span:nth-of-type(2) {
                  right: 0;
                  background-color: var(--sc-percentage);
                  border-radius: 0 0.25rem 0.25rem 0;
                }
              }

              > p {
                display: flex;
                justify-content: flex-end;
                min-width: 4rem;
                line-height: 0.75;
              }
            }
          }
        }
      }
    }
  }

  .extraInfo {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;

    @media (min-width: 600px) {
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }

    .priorityProject {
      background-color: var(--dashboard-bg);
      box-shadow: 0 0 1px var(--notification-timestamp);
      border-radius: 0.25rem;
      grid-column: span 1 / span 1;

      @media (min-width: 600px) {
        grid-column: span 3 / span 3;
      }

      > h2 {
        padding: 1rem;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5;
        border-bottom: 1px solid var(--sc-percentage);
      }

      > div:nth-of-type(1) {
        padding: 0 1rem;
        margin-top: 0.75rem;

        h3 {
          font-weight: 500;
          font-size: 0.875rem;
        }

        > div {
          display: flex;
          align-items: center;
          width: max-content;
          font-size: 0.875rem;
          padding: 0.125rem 0.5rem;
          border-radius: 9999px;
          background-color: var(--ip-bg);
          color: var(--ip-text);
          margin-top: 0.125rem;

          p {
            margin-left: 0.25rem;
          }
        }

        span {
          @include divider();
        }
      }

      > div:nth-of-type(2) {
        padding: 0 1rem;
        margin-top: 0.75rem;

        h3 {
          font-weight: 500;
          font-size: 0.875rem;
        }

        > div {
          display: flex;
          align-items: center;

          img {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            object-fit: cover;
            object-position: top center;
          }

          p {
            margin-left: 0.25rem;
          }
        }

        span {
          @include divider();
        }
      }

      > div:nth-of-type(3) {
        padding: 0 1rem;
        margin: 0.75rem 0 1rem;

        h3 {
          font-weight: 500;
          font-size: 0.875rem;
        }

        > div {
          display: flex;
          align-items: center;

          p {
            margin: 0.125rem 0 0 0.25rem;
          }
        }
      }
    }

    .upcomingSchedule {
      background-color: var(--dashboard-bg);
      box-shadow: 0 0 1px var(--notification-timestamp);
      border-radius: 0.25rem;
      grid-column: span 1 / span 1;

      @media (min-width: 600px) {
        grid-column: span 5 / span 5;
      }

      > h2 {
        padding: 1rem;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5;
        border-bottom: 1px solid var(--sc-percentage);
      }

      > div {
        display: flex;
        flex-direction: column;
        row-gap: 11px;
        //background-color: blue;
        padding: 0.5rem;
        overflow-x: scroll;
        @include noScrollBar();

        > div {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          //background-color: red;
          padding: 0.5rem;
          border-radius: 0.25rem;
          column-gap: 2rem;
          min-width: 26.875rem;

          &:hover {
            background-color: var(--percentages-hover);
          }

          > div {
            display: flex;
            flex-direction: column;

            > div {
              display: flex;
              align-items: center;
              height: 26px;

              &:nth-of-type(1) {
                p:nth-of-type(1) {
                  color: var(--sc-text);
                  font-size: 0.875rem;
                  width: 5.25rem;
                }

                p:nth-of-type(2) {
                  margin-left: 1rem;
                  font-size: 1.125rem;
                  line-height: 1.4;
                }
              }

              &:nth-of-type(2) {
                > p:nth-of-type(1) {
                  font-size: 1.125rem;
                  line-height: 1.4;
                  width: 5.25rem;
                }

                > p:nth-of-type(2) {
                  margin-left: 1rem;
                  color: var(--sc-text);
                  font-size: 0.875rem;
                }

                div {
                  margin-left: 0.5rem;
                  display: inline-flex;
                  align-items: center;

                  &:hover {
                    img {
                      filter: brightness(50%);
                    }
                  }

                  img {
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: top center;
                    border: 1px solid var(--dashboard-bg);
                    margin-left: -0.375rem;

                    &:hover {
                      z-index: 1;
                      box-shadow: 0 0 2px var(--notification-timestamp);
                      filter: brightness(100%);
                      border: none;
                    }

                    &:first-of-type {
                      margin: 0;
                    }
                  }
                }

                > p:nth-of-type(3) {
                  margin: 0.125rem 0 0 0.25rem;
                  color: var(--sc-text);
                  font-size: 0.875rem;
                }
              }
            }
          }

          svg {
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}
