@mixin notificationUserStatus {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--nav-bg);
}

@mixin userStatusCircle {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  margin: 0 0.313rem;
}

.topNavBar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--nav-bg);
  padding-left: 1rem;
  min-width: 100%;
  border-bottom: 1px solid #a3a3a3;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    display: flex;
    align-items: center;
    color: var(--text);
    font-size: 1.5rem;
    background-color: var(--nav-bg);
    cursor: pointer;
  }

  div {
    display: flex;
    align-items: center;

    button {
      margin-left: 0.5rem;
    }
  }

  @media (min-width: 320px) {
    margin-left: 4rem;
    min-width: calc(100% - 64px);
  }
}

.user {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
  position: relative;
  width: max-content;

  button {
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: var(--user);
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.5rem;
    margin: 0 !important;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }

    h1 {
      padding-left: 0.375rem;
      font-size: 1rem;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      display: none;

      @media (min-width: 425px) {
        display: block;
      }
    }
  }
}

.userMenu {
  position: absolute;
  right: 0;
  top: 4rem;
  min-width: 13rem;
  transform-origin: top right;
  border-bottom-left-radius: 0.375rem;
  background-color: var(--nav-bg);
  padding: 0.5rem;
  cursor: default;
  flex-direction: column;
  box-shadow: -2px 2px 2px var(--boxShadow);

  h1 {
    display: flex;
    font-weight: 600;
    font-size: 0.875rem;
    justify-content: flex-start;
    width: 100%;
    padding: 0.5rem;
    color: var(--sc-text);

    @media (min-width: 425px) {
      display: none;
    }
  }

  button {
    background-color: var(--nav-bg);
    margin-top: 0.375rem !important;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    align-items: center;
    text-transform: capitalize;

    svg {
      font-size: 1.375rem;
    }

    p {
      margin-left: 0.375rem;
      font-size: 1rem;
      font-family: "Poppins", sans-serif;
    }

    &:hover {
      background-color: var(--userMenu-hover);
    }
  }

  .userStatus {
    width: 100%;

    button {
      align-items: center;
      justify-content: flex-start;
      padding: 0.5rem;
      font-size: 1rem;
      margin-top: 0 !important;

      p {
        margin: 0 0.375rem;
        line-height: normal;
        letter-spacing: normal;
        font-weight: 400;
      }

      .userStatusArrow {
        transition: transform 178ms linear;

        &.active {
          transform: rotate(-180deg);
        }
      }
    }
  }
}

.userStatusMenu {
  padding: 0.5rem;
  background-color: var(--bg) !important;

  ul {
    padding: 0;
    width: 100%;

    li {
      padding: 0.5rem 1rem 0.5rem 0.5rem;
      font-family: "Poppins", sans-serif;
      border-radius: 0.5rem;

      &:hover {
        background-color: var(--userMenu-hover);
      }

      p {
        margin: 0 0.375rem;
        color: var(--text);
      }
    }
  }
}

.userStatusOnline,
.userStatusAway,
.userStatusOffline {
  @include userStatusCircle;
}

.userStatusOnline {
  background-color: #1abd5e;
}

.userStatusAway {
  background-color: #ffa010;
}

.userStatusOffline {
  background-color: #ff4c4c;
}

.notificationsMenu {
  position: relative;

  .notificationCircle {
    @include notificationUserStatus;
    background-color: #ff4c4c;
    right: 0;
    top: 0.125rem;
  }
}

.notificationsMenuItems {
  position: fixed;
  right: 0rem;
  top: 4.063rem;
  background-color: var(--nav-bg);
  transform-origin: center;
  flex-direction: column;
  align-items: flex-start !important;
  box-shadow: 0 2px 2px var(--boxShadow);

  div:nth-child(1) {
    border-bottom: 1px dashed var(--notifications-line);
    padding: 0.75rem;
    width: 100%;
    justify-content: space-between;

    h1 {
      font-size: 1.125rem;
      font-weight: 500;
    }

    button {
      color: var(--clearAll-text);
      margin: 0;
      font-size: 0.875rem;
      justify-content: flex-end;
      text-decoration: underline;
    }
  }

  div:nth-child(2) {
    border: 0;
    padding: 1.25rem 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    div {
      padding: 0;
      margin: 0 0 1.25rem 0;
      cursor: pointer;
      padding: 0.5rem;
      border: 1px solid var(--notifications-line);
      border-radius: 0.25rem;
      flex-direction: row;
      align-items: center;
      align-items: flex-start;

      .notificationImgContainer {
        margin: 0;
        width: max-content;
        position: relative;

        img {
          width: 2.75rem;
          height: 2.75rem;
          border-radius: 0.5rem;
        }

        .notificationOnlineUser,
        .notificationOfflineUser,
        .notificationAwayUser {
          @include notificationUserStatus;
          right: -0.125rem;
          bottom: 0;
        }

        .notificationOnlineUser {
          background-color: #1fc966;
        }

        .notificationOfflineUser {
          background-color: #ff4c4c;
        }

        .notificationAwayUser {
          background-color: #ffa010;
        }
      }

      div {
        padding: 0;
        margin-left: 0.625rem;
        border: 0;
        flex-direction: column;
        align-items: flex-start;

        p,
        small {
          width: 100%;
        }

        p {
          font-weight: 300;
          font-size: 0.875rem;

          b {
            font-weight: 500;
          }
        }

        small {
          color: var(--notification-timestamp);
          font-size: 0.75rem;
          margin-top: 0.25rem;
        }

        .notificationBtnsContainer {
          margin: 0.5rem 0 0 0;
          gap: 0.75rem;
          flex-direction: row;
          width: 100%;
          flex-wrap: wrap;
          row-gap: 0.75rem;

          button {
            font-family: "Poppins", sans-serif;
            font-size: 0.875rem;
            margin: 0;
            padding: 0.375rem 0.563rem;
            border-radius: 0.375rem;
            justify-content: center;
            flex-grow: 1;

            &:nth-of-type(1) {
              color: whitesmoke;
              text-shadow: black 0px 0px 1px;
              background-color: #3649ee;
            }

            &:nth-of-type(2) {
              border: 1px solid var(--notifications-line);
            }
          }
        }
      }
    }

    div:last-of-type {
      margin-bottom: 0;
    }
  }

  .userTag {
    margin: 0.5rem 0 0 0 !important;
    font-size: 0.875rem;
    padding: 0.5rem !important;
    display: inline;
    background-color: var(--notification-mentioned-box);
    box-shadow: 0 0 1px var(--clearAll-text);

    span {
      color: var(--clearAll-text);
    }
  }

  @media (min-width: 320px) {
    width: calc(100vw - 74px);
    max-width: 18.875rem;
    border-bottom-left-radius: 0.375rem;
    box-shadow: -2px 0 2px var(--boxShadow), 0 2px 2px var(--boxShadow);
  }

  @media (min-width: 580px) {
    position: absolute;
    top: 2.813rem;
    border-bottom-right-radius: 0.375rem;
    box-shadow: -2px 0 2px var(--boxShadow), 0 2px 2px var(--boxShadow),
      2px 0 2px var(--boxShadow);
  }
}
