.topNavBar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--nav-bg);
  padding-left: 1rem;
  margin-left: 4rem;
  min-width: calc(100% - 64px);
  min-height: 4rem;
  border-bottom: 2px solid #a3a3a3;
  display: flex;

  button {
    color: var(--text);
    font-size: 1.5rem;
    background-color: var(--nav-bg);
  }

  div {
    width: 100%;
    display: flex;
    justify-content: end;

    button {
      margin-left: 0.5rem;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
  position: relative;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: var(--user);
}
