@import "@Styles/palette.scss";

:root {
  --revenueGrowthLine1: #22a9eb;
  --revenueGrowthLine2: #ee70ff;
}

:root[data-theme="light"] {
  --bg: #{$light-bg};
  --text: #{$light-text};
  --sc-text: #{$light-sc-text};
  --nav-bg: #{$light-navBar};
  --user: #{$light-user};
  --userMenu-hover: #{$light-userMenu-hover};
  --notifications-line: #{$light-notifications-line};
  --notification-timestamp: #{$light-notification-timestamp};
  --boxShadow: #{$light-boxShadow};
  --userStatus-green: #{$light-userStatus-green};
  --userStatus-orange: #{$light-userStatus-orange};
  --userStatus-red: #{$light-userStatus-red};
  --dashboard-bg: #{$light-dashboard-bg};
  --mapRegions: #{$light-mapRegions};
  --mapRegions-hover: #{$light-mapRegions-hover};
  --sc-percentage: #{$light-sc-percentage};
  --percentages-hover: #{$light-percentages-hover};
  --ip-bg: #{$light-ip-bg};
  --ip-text: #{$light-ip-text};
  --totalData-green: #{$light-totalData-green};
  --totalData-red: #{$light-totalData-red};
}

:root[data-theme="dark"] {
  --bg: #{$dark-bg};
  --text: #{$dark-text};
  --sc-text: #{$dark-sc-text};
  --nav-bg: #{$dark-navBar};
  --user: #{$dark-user};
  --userMenu-hover: #{$dark-userMenu-hover};
  --notifications-line: #{$dark-notifications-line};
  --notification-timestamp: #{$dark-notification-timestamp};
  --boxShadow: #{$dark-boxShadow};
  --userStatus-green: #{$dark-userStatus-green};
  --userStatus-orange: #{$dark-userStatus-orange};
  --userStatus-red: #{$dark-userStatus-red};
  --dashboard-bg: #{$dark-dashboard-bg};
  --mapRegions: #{$dark-mapRegions};
  --mapRegions-hover: #{$dark-mapRegions-hover};
  --sc-percentage: #{$dark-sc-percentage};
  --percentages-hover: #{$dark-percentages-hover};
  --ip-bg: #{$dark-ip-bg};
  --ip-text: #{$dark-ip-text};
  --totalData-green: #{$dark-totalData-green};
  --totalData-red: #{$dark-totalData-red};
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  padding: 0 !important;
  background-color: var(--bg);
}

section {
  padding: 1rem;
  min-height: calc(100vh - 165px);
  margin-top: 65px;

  @media (min-width: 320px) {
    margin: 65px 0 0 64px;
  }
}

.recharts-cartesian-grid-vertical {
  display: none;
}

.jvectormap-tip {
  background: var(--bg) !important;
  color: var(--text) !important;
  border: none !important;
  border-radius: 0.25rem !important;
  padding: 0.25rem 0.5rem !important;
  font-size: small !important;
  z-index: 1;
  box-shadow: 0 0 1px var(--notification-timestamp);
}

.jvectormap-marker {
  r: 4;
  fill: var(--revenueGrowthLine1);
  stroke: #a2e0ff;
  stroke-width: 2px;

  &:hover {
    fill: var(--revenueGrowthLine2);
    stroke: #faceff;
  }
}

.jvectormap-region {
  fill: var(--mapRegions);

  &:hover {
    fill: var(--mapRegions-hover);
    fill-opacity: 1 !important;
  }
}

.jvectormap-zoomin,
.jvectormap-zoomout {
  box-sizing: border-box !important;
  top: unset !important;
  left: 0.25rem !important;
  padding: 0 !important;
  width: 1.25rem !important;
  height: 1.25rem !important;
  border-radius: 0.25rem !important;
  color: var(--text) !important;
  background: var(--bg) !important;
  filter: drop-shadow(0 0 0.5px var(--notification-timestamp));
  font-size: 1.125rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.jvectormap-zoomin {
  bottom: 2rem;
}

.jvectormap-zoomout {
  bottom: 0.25rem;
}

.custom404 {
  min-height: calc(100vh - 197px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
  }

  span {
    margin: 0.375rem 0;
    width: 25%;
    min-width: 8.75rem;
    height: 0.125rem;
    background-color: var(--notifications-line);
  }

  p {
    line-height: 1.4;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
  }

  a {
    padding: 0.25rem 0.875rem;
    text-decoration: none;
    color: var(--text);
    font-size: 0.875rem;
    border: 1px solid var(--notifications-line);
    border-radius: 0.5rem;
    background-color: transparent;
  }
}
