@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "@Styles/palette.scss";

:root[data-theme="light"] {
  --bg: #{$light-bg};
  --text: #{$light-text};
  --sc-text: #{$light-sc-text};
  --nav-bg: #{$light-navBar};
  --user: #{$light-user};
  --userMenu-hover: #{$light-userMenu-hover};
  --userMenu-shadow: #{$light-userMenu-shadow};
  --clearAll-text: #{$light-clearAll-text};
}

:root[data-theme="dark"] {
  --bg: #{$dark-bg};
  --text: #{$dark-text};
  --sc-text: #{$dark-sc-text};
  --nav-bg: #{$dark-navBar};
  --user: #{$dark-user};
  --userMenu-hover: #{$dark-userMenu-hover};
  --userMenu-shadow: #{$dark-userMenu-shadow};
  --clearAll-text: #{$dark-clearAll-text};
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text);
  padding: 0 !important;
  background-color: var(--bg);
}

section {
  padding: 1rem;
  min-height: calc(100vh - 4rem);
  margin-top: 4rem;

  @media (min-width: 320px) {
    margin: 4rem 0 0 4rem;
  }
}

// Utility Classes
.hidden {
  display: none;
}

.shown {
  display: block !important;
}

.pl-18 {
  padding-left: 1.125rem;
}

.items-center {
  align-items: center;
}

.w-16 {
  width: 4rem;
}

.w-52 {
  width: 13rem;
}
