@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "@Styles/palette.scss";

:root[data-theme="light"] {
  --nav-bg: #{$light-navBar};
}

:root[data-theme="dark"] {
  --nav-bg: #{$dark-navBar};
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: black;
  padding: 0 !important;
  overflow: visible !important;
}
