// light mode
$light-bg: #f4f4f5;
$light-text: #0e0e0e;
$light-sc-text: #585858;
$light-navBar: #e5e5e5;
$light-user: #d4d4d4;

// dark mode
$dark-bg: #27272a;
$dark-text: #f5f5f5;
$dark-sc-text: #c5c5c5;
$dark-navBar: #171717;
$dark-user: #262626;

:export {
  light-bg: $light-bg;
  light-text: $light-text;
  light-sc-text: $light-sc-text;
  light-navBar: $light-navBar;
  light-user: $light-user;
  dark-bg: $dark-bg;
  dark-text: $dark-text;
  dark-sc-text: $dark-sc-text;
  dark-navBar: $dark-navBar;
  dark-user: $dark-user;
}
