$light-bg: #f5f5f5;
$light-text: #000000;
$light-sc-text: #6b6b6b;
$light-navBar: #ececec;
$light-user: #dadada;
$light-userMenu-hover: #d8d8d8;
$light-notifications-line: #c9c9c9;
$light-notification-timestamp: #4e4e4e;
$light-boxShadow: rgba(0, 0, 0, 0.3);
$light-dashboard-bg: #ffffff;
$light-mapRegions: #e0e0e0;
$light-mapRegions-hover: #c2c2c2;
$light-sc-percentage: #dbdbdb;
$light-percentages-hover: rgba(240, 240, 240, 0.65);
$light-ip-bg: #ffca69;
$light-ip-text: #1b1e22;

$dark-bg: #212327;
$dark-text: #f5f5f5;
$dark-sc-text: #a2a2a2;
$dark-navBar: #1b1e22;
$dark-user: #272c33;
$dark-userMenu-hover: #2e2e2e;
$dark-notifications-line: #4a4a4a;
$dark-notification-timestamp: #c1c1c1;
$dark-boxShadow: rgba(245, 245, 245, 0.3);
$dark-dashboard-bg: #212831;
$dark-mapRegions: #959595;
$dark-mapRegions-hover: #c7c7c7;
$dark-sc-percentage: #37404c;
$dark-percentages-hover: #1d242c;
$dark-ip-bg: #1b1e22;
$dark-ip-text: #ffca69;

:export {
  light-bg: $light-bg;
  light-text: $light-text;
  light-sc-text: $light-sc-text;
  light-navBar: $light-navBar;
  light-user: $light-user;
  light-userMenu-hover: $light-userMenu-hover;
  light-notifications-line: $light-notifications-line;
  light-notification-timestamp: $light-notification-timestamp;
  light-boxShadow: $light-boxShadow;
  light-dashboard-bg: $light-dashboard-bg;
  light-mapRegions: $light-mapRegions;
  light-mapRegions-hover: $light-mapRegions-hover;
  light-sc-percentage: $light-sc-percentage;
  light-percentages-hover: $light-percentages-hover;
  light-ip-bg: $light-ip-bg;
  light-ip-text: $light-ip-text;
  dark-bg: $dark-bg;
  dark-text: $dark-text;
  dark-sc-text: $dark-sc-text;
  dark-navBar: $dark-navBar;
  dark-user: $dark-user;
  dark-userMenu-hover: $dark-userMenu-hover;
  dark-notifications-line: $dark-notifications-line;
  dark-notification-timestamp: $dark-notification-timestamp;
  dark-boxShadow: $dark-boxShadow;
  dark-dashboard-bg: $dark-dashboard-bg;
  dark-mapRegions: $dark-mapRegions;
  dark-mapRegions-hover: $dark-mapRegions-hover;
  dark-sc-percentage: $dark-sc-percentage;
  dark-percentages-hover: $dark-percentages-hover;
  dark-ip-bg: $dark-ip-bg;
  dark-ip-text: $dark-ip-text;
}
